button {
    font-family: Segoe Script;
    //font-family: Fixedsys;
    font-size: 1.5em;
     moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.nocursor {
    cursor: none;
}
.smallbutton {
    font-family: Segoe Script;
    //font-family: Fixedsys;
    font-size: 0.8em;
     moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
.newline {
    white-space: pre;
}
#gameEndDiv{
    font-family: Segoe Script;
    font-size: 2em;
    color: red;
    background-color: yellow;
    text-align: center;    
    //moz-border-radius: 15px;
    //-webkit-border-radius: 15px;
}
.scoreboard {
    font-family: Segoe Script;
    font-size: 1.5em;
    color: red;
    text-align: center;    
    //moz-border-radius: 15px;
    //-webkit-border-radius: 15px;
}
.leaderboard {
  font-size: 1.5em;
    //padding-top: 20px;
    //height: 60px;
    text-align: center;
    //moz-border-radius: 15px;
    //-webkit-border-radius: 15px;
}
.logintags {
  font-size: 1.5em;
    //padding-top: 20px;
    //height: 60px;
    text-align: center;
    //moz-border-radius: 15px;
    //-webkit-border-radius: 15px;
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
    overflow:hidden;
}
#gameCanvas {
    background-color: black;
    //position:relative;
    left:0;
    top:0;
}
